<div class="container">

    <div class="row pt-4 my-4">
        <div class="col-lg-12 d-flex justify-content-center" >
            <h1>My AutoML Requests</h1>
            <button type="button" [routerLink]="['/automl/new']" class="btn btn-lg btn-primary ml-5" >New AutoML Requests</button>
        </div>
        <hr>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Database File</th>
                        <th scope="col">Metric Result</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let automl of automls; let i = index">
                        <th scope="row">{{  automl['id'] }}</th>
                        <td>{{  automl["dbfile"]["file_name"]  }}</td>
                        <td>{{  automl["status"] == 'waiting' ? '0' : automl["metric_result"] }}</td>
                        <td>
                            <div class="row" *ngIf="automl['status']=='done'">
                                <button type="button" [routerLink]="['/automl',automl['id']]" class="btn  btn-sm btn-outline-success">See Results</button>
                            </div>

                            <div class="row" *ngIf="automl['status']!='done'">
                                Processing
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 380px;"></div>
</div>